*{
    -fx-primary-color: #282828;
    -fx-secondary-color: #181818;
    -fx-custom-color: financeColorString;

    -fx-focus-color: -fx-secondary-color;
}



#bg{
    -fx-background-color: #151515;
}


.button{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-text-fill: white;
    -fx-border-radius: 20px;
}

.button:hover{
    -fx-border-color: #b2b2b2;
    -fx-text-fill: #b2b2b2;
}

.button:pressed{
    -fx-border-color: #696969;
    -fx-text-fill: #696969;
}

#createNew{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-text-fill: white;
    -fx-border-radius: 20px;
}

#createNew:hover{
    -fx-border-color: #b2b2b2;
    -fx-text-fill: #b2b2b2;
}

#createNew:pressed{
    -fx-border-color: #696969;
    -fx-text-fill: #696969;
}

#forgotten{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#forgotten:hover{
    -fx-text-fill: #b2b2b2;
}

#forgotten:pressed{
    -fx-text-fill: #696969;
}

.list-view {
    -fx-padding: 3px ;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #262626;
    -fx-background-radius: 10;
    -fx-text-fill: #ffffff;

}

.list-cell {
    -fx-cell-hover-color: #1f1f1f;
    -fx-background-color: #1f1f1f, -fx-background ;
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-font-family: "Segoe UI Semibold";
    -fx-label-padding: 20;
    -fx-padding: 2px ;
    -fx-background-insets: 0px, 2px ;
}

.list-cell:filled:hover {
    -fx-cell-hover-color: #282828;
    -fx-text-fill: #ffffff;
}

.list-view .scroll-bar:vertical {
    -fx-opacity: 0;
}

.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
}


.tab-header-area .tab-header-background {
    -fx-background-color: -fx-primary-color;
}
.tab-pane .tab:selected {
    -fx-background-color: -fx-secondary-color;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 0 10 0 10;
}
.tab-pane:top *.tab-header-area {
    -fx-padding: 0 0 0 30;

    /* NO SPACE LEFT OF FIRST TAB */
    /* -fx-padding: 0 0 0 30; */
}
.tab-pane {
    -fx-background-color: transparent;
    -fx-tab-min-width: 100px;
    -fx-tab-min-height: 33px;
    -fx-tab-max-height: 33px;
}
.tab-pane .tab {
    -fx-background-color: transparent;
}
.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-insets: 0 0 0 0;
    -fx-border-radius: 0;
}

.context-menu {
    -fx-font-size: 14px;
    -fx-background-color: #1e1e1e;
    -fx-padding: 10;
    -fx-pref-width: 200;
}

.context-menu .menu-item {
    -fx-font-family: "Segoe UI";
}

.context-menu .menu-item:focused {
    -fx-background-color: #ffcd02; /* Blue */
}

.context-menu .menu-item:selected {
    -fx-background-color: #1e1e1e; /* Light Gray */
}

#backupKeyBox {
    -fx-background-color: #1f1f1f;
}

.text {
    -fx-fill: white;
}

.text-field {
    -fx-text-fill: #b7b6b6;
    -fx-font-size: 15;
    -fx-background-color: #444444;
    -fx-background-radius: 20;
    -fx-border-color: #444444;
    -fx-border-radius: 20;
}

.text-field:focused {
    -fx-border-color: #6b6b6b;
    -fx-border-radius: 20;
}

#usernameField {
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-radius: 19;
    -fx-border-width: 3;
}

#usernameField:focused {
    -fx-border-color: #635af3;
    -fx-border-radius: 19;
    -fx-border-width: 3;
}

#passwordField {
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-radius: 19;
    -fx-border-width: 3;
}

#passwordField:focused {
    -fx-border-color: #635af3;
    -fx-border-radius: 19;
    -fx-border-width: 3;
}

#keyButtons {
    -fx-border-color: transparent;
    -fx-background-color: #232323;
    -fx-background-radius: 20;
    -fx-pref-width: 1000;
    -fx-pref-height: 70;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 25;
}

#keyButtons:hover{
    -fx-background-color: #363636;
}

#keyButtons:pressed{
    -fx-background-color: #424242;
}

#keyInfoLabel {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 15;
}

#titleLabelAK {
    -fx-font-family: "Segoe UI Semilight";
    -fx-font-size: 30;
}
