.label{
    -fx-background-color: #2d2d2d;
    -fx-padding: 23;
    -fx-background-radius: 20;
}

.button{
    -fx-background-color: #2d2d2d;
    -fx-text-fill: white;
    -fx-background-radius: 0px;
}

.button:hover{
    -fx-background-color: #312b75;
}

.button:pressed{
    -fx-background-color: #524d93;
}

#bg{
    -fx-background-color: #151515;
}
